body
    margin 0
    padding 0 50px 0 50px

#atentamente
    margin 0 0 40px 0

#cliente
    margin 0 0 60px 0

#concepto
    margin 0 0 30px 0

#fecha
    margin 150px 0 80px 0

#firma
    span
        border-bottom 1px solid #000

#items
    margin 20px 0 0 0

    table
        border-collapse collapse

        th
            background #D9D9D9

        td, th
            border solid 1px #000

            &.invisible
                border 0

    .cantidad
        width 50px

    .descripcion
        padding 5px
        text-align justify
        width 300px

    .valor-unitario
        width 100px

    .valor-total
        text-align center
        width 100px

#notas
    margin 60px 0 60px 0
    text-align justify

.derecha
    text-align right

