body
    font-family "Merriweather Sans", sans-serif
h1, h2, h3
    font-family "Oswald", sans-serif
#acordion
    display none
#menu-top
    .btn.btn-default
        background rgba(221,72,20, .99)
    .navbar-brand
        font-family "Oswald", sans-serif
        font-size 1.5em
        padding 0 0 0 0.5em
        text-shadow 1px 1px 0px rgba(230,230,230,1), 2px 2px 1px rgba(200,200,200,1), 3px 3px 0px rgba(0,0,0,1), 4px 4px 17px rgba(0,0,0,0.5)
        img
            vertical-align top
        span
            position relative
            top 15px
.buscador
    padding-left 0
    padding-right 0
.derecha
    text-align right
.imagen
    text-align center
    img
        max-height 360px
    input[type=file]
        position absolute
        visibility hidden
        width 0
        z-index -9999
    .file-save
        text-align center
    .preview
        border-bottom 0
        margin 0 auto
        position relative
        a
            bottom 5px
            display none
            left 5px
            position absolute
            right 5px
        .file-info
            display block
            left 5px
            position absolute
            right 5px
            text-align center
            top 35px
            div
                margin 0 auto
.numero
    display inline-block
    width 8em
.pagination
    display block
    clear both
footer.well
    border-radius 0
    font-family "Open Sans Condensed", sans-serif
    margin 2em 0 0 0
    padding .1em 0
    text-align center
