body
    font "Merriweather Sans", sans-serif
h1
    font-family "Oswald", sans-serif
#menu-top
    .btn.btn-default
        background rgba(221,72,20, .99)
    .navbar-brand
        font-family "Oswald", sans-serif
        font-size 1.5em
        padding 0 0 0 0.5em
        text-shadow 1px 1px 0px rgba(230,230,230,1), 2px 2px 1px rgba(200,200,200,1), 3px 3px 0px rgba(0,0,0,1), 4px 4px 17px rgba(0,0,0,0.5)
        img
            vertical-align top
        span
            position relative
            top 15px
.buscador
    padding-left 0
    padding-right 0
