linea1 = 200px
linea2 = 230px
linea3 = 260px

body
    font-size 12px
    font-family Arial
    margin 0
    padding 0

    &>div
        border solid 1px red
        position absolute

    #items
        left 10px
        top 320px
        position relative

        td
            border solid 1px red
            text-align right

        .cantidad
            width 50px

        .descripcion
            text-align justify
            width 360px

        .valor-unitario
            width 105px

        .valor-total
            width 153px

#fecha
    left 70px
    top linea1
    width 150px

#forma-de-pago
    left 350px
    top linea1
    width 80px

#vencimiento
    left 550px
    top linea1
    width 150px

#nombre
    left 80px
    top linea2
    width 400px

#nit
    left 550px;
    top linea2
    width 150px;

#direccion
    left 80px
    top linea3
    width 230px

#telefono
    left 350px
    top linea3
    width 80px

#pedido
    left 550px;
    top linea3
    width 150px;

#excento
    left 555px
    text-align right
    top 900px
    width 145px

#subtotal
    left 555px
    text-align right
    top 920px
    width 145px

#iva
    left 555px
    text-align right
    top 940px
    width 145px

#total
    left 555px
    text-align right
    top 960px
    width 145px